* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: 'Fira Sans', sans-serif;
}
.container{
  max-width: 500px;
  margin: auto;
}

.tiago{
  background-image: url("https://scontent-ams4-1.xx.fbcdn.net/v/t1.0-9/12994374_10209447783056566_9127612316069453472_n.jpg?_nc_cat=109&_nc_oc=AQmYBwTDFigXfa2wUJ9wgBE5uSRF-J3aPuYjyK4NyaoObZ96RzrZLobtcaWu4yWXP7g&_nc_ht=scontent-ams4-1.xx&oh=05650dc4599933677345e29b6cef40d1&oe=5E250699");
  background-size: 65%;
  font-size: 10em;
  font-weight: 900;
  text-align: center;
  color: transparent;
  background-repeat: space;
  background-position: center;
  background-clip: text;
  -webkit-background-clip: text;
  line-height: 60%;
  height: 340px;
  width: 500px;
  padding-top: 50px;
  align-items: center;
}

.header-container{
  justify-content: space-around;
  display: flex;
  padding: 20px 0;
  /* border: 1px solid black; */
}

.nav-container a:link{
  text-decoration:none;
  color:rgb(46, 129, 157);
}
.nav-container a:visited{
  color:rgb(46, 129, 157);
}
.nav-container a:hover{
  padding: 10px;
  background-color:rgb(46, 129, 157);
  color: white;
}

.nav{
  display: flex;
  justify-content: space-around;
  align-items: center;
  margin: auto;
  padding: 20px;
  background-color:rgba(255, 255, 255, 0.3);
}

.nav-item{
  font-size: 0.8em;
  color:rgb(46, 129, 157);
}

.contact-container{
  display: flex;
  justify-content: space-around;
  align-items: center;
  text-align: center;
}

.some{
  padding: 10px 0px 10px 0px;
  display: flex;
  justify-content: space-between;
}

.text{
  margin-top: 30px;
  font-weight: lighter;
  line-height: 1.7em;
}

h1{
  margin-top: 60px;
  color:rgb(46, 129, 157); 
}

h6{
  margin-top: 30px;
  font-weight: lighter;
  color:rgb(46, 129, 157);
}

.description {
  margin-top: 5px;
  font-weight: lighter;
  font-size: 0.9em;
  line-height: 1.6em;
}

.footer h1{
  font-size: 1.2em;
}

.footer li{
  margin-left: 20px;
  font-size: 0.8em;
  font-weight: 300;
}
.tools-itens{
  color: rgb(46, 129, 157);
  margin-top: 10px;
  display: flex;
  justify-content: space-between;
}

span{
  font-weight: 100;
  color: rgb(133, 133, 133);
}





